.App {
  text-align: center;
  background-color: white;
  padding-top: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  height: 200px;
}

.App-header {
  /* background-color: #282c34; */

  /* color: white; */
}
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.App-link {
  margin: 20px;
  font-size: calc(10px + 2vmin);
  /* color: #61dafb; */
}

.button-container {
  display: flex;
  flex-direction: column;
}

.privacy-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
